@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins',sans-serif;
}

body{
    background-color: black;
}

.main{
    background-image: url("assets/images/bg.jpg");
    height: 644px;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px,100vw);
}

.main .box{
    height: 644px;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;
}

nav{
    max-width: 70vw;
    height: 62px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img{
    color: red;
    width: 150px;
    filter: drop-shadow(12px 12px 8px  rgb(101, 100, 100));
    position: relative;
    z-index: 10;
}

nav button{
    position: relative;
    z-index: 10;
}

.btn:hover{
    transform: scale(1.05);
    transition: all 0.4s ease-out;
}

input:hover{
    transform: scale(1.05);
    transition: all 0.4s ease-out;
}

.hero{
    height: calc(100% - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: 'Martel Sans', sans-serif;
    gap: 23px;
    padding: 0px 30px;
}

.hero> :nth-child(1){
    font-weight: bolder;
    font-size: 3rem;
    text-align:center
}

.hero> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align:center
}

.hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align:center
}

.separation{
    background-color: rgb(66, 66, 66);
    height: 4px;
    z-index: 20;
    position: relative;
}

.btn{
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.318);
    cursor: pointer;
}

.btn-red{
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
}

.btn-red-sm{
    background-color: red;
    color: white;
}

.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input{
    padding: 6px 136px 7px 2px;
    font-size: smaller;
    color: white;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.318);
}

.first{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    color: white;
}

.secImg{
    position: relative;
}

.secImg img{
    width: 555px;
    position: relative; 
    z-index: 10;
}

.secImg video{
    position: absolute;
    top: 91px;
    right: 1px;
    width: 483px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}


section.first>div :nth-child(2) {
    font-size: 24px;

}

.faq{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    padding: 34px;
    gap: 15px;
}

.faq h1{
    padding-top: 20px;
    padding-bottom: 14px;
    text-align: center;
}

.faqbox:hover{
    background-color: rgba(123, 122, 122, 0.803);
    transform: scale(1.02);
}

.faqbox{
    transition: all 0.4s ease-out;
    display: flex;
    background-color: rgba(128, 128, 128, 0.447);
    padding: 13px;
    width: 40vw;
    margin: auto;
    justify-content: space-between;
    cursor: pointer;
}

.fa-plus {
  font-size: 24px;
  color: white;
}

footer{
    width: 60vw;
    margin: auto;
    justify-content: flex-start;
    padding: 34px;
}

.footer{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fit,200px);
    /* max-width: 60vw; */
    margin: auto;
    justify-content: center;
}

.ques{
    color: white;
    margin: 2px ;
    padding-bottom: 30px;
}

footer a{
    color: white;
    font-size: 14px;
}

.footer-item{
    display: flex;
    flex-direction: column;
    gap: 23px;
}

@media screen and (max-width: 1300px){
    nav{
        max-width: 90vw;
    }

    .first{
        flex-wrap: wrap;
    }

    .secImg img{
        width: 305px;
    }

    .secImg video{
        width: 265px;
        top: 58px;
    }

    .hero> :nth-child(1){
        font-size: 32px;
    }

    .hero> :nth-child(2){
        font-size: 18px;
    }

    .hero> :nth-child(3){
        font-size: 18px;
    }

    .hero-buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h1{
        text-align: center;
        font-size: 32px;
    }

    footer{
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item{
        align-items: center;
    }
}